# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Pytest cache
.pytest_cache/

# Logs
*.log

# IDEs and editors
.vscode/
.idea/
.idea
*.swp
*.swo

# MacOS
.DS_Store

# Environment variables
.env

